@import "var.scss";
@import "global.scss";

.scroll-top {
  position: fixed;
  width: 50px;
  height: 30px;
  right: 10px;
  bottom: 80px;
  padding-top: 20px;
  text-align: center;
  //background-color: $color-white;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 20%;
  overflow: hidden;
  @include box-shadow(0 0 4px 3px rgba(0, 0, 0, 0.11));
  &:hover:before {
    top: 50%;
  }
  &:hover .box-in {
    visibility: hidden;
  }
  &:before {
    color: #e1e1e1;
    content: "回到顶部";
    position: absolute;
    font-weight: bold;
    width: 30px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.box-in {
  visibility: visible;
  display: inline-block;
  height: 15px;
  width: 15px;
  //border: 1px solid $color-black;
  border: 1px solid;
  //border-color: $color-black transparent transparent $color-black;
  border-color: #cdcdcd transparent transparent #cdcdcd;
  transform: rotate(45deg);
}
