@import "var.scss";
@import "global.scss";

.the-footer {
  width: 100%;
  //height: $footer-height;
  height: 500px;
  // background-color: $theme-footer-color;
  background-color: rgba(58, 57, 57, 0.56);
  // 页脚文字
  color: #000000;
  @include layout(center, center, column);
  p {
    height: 20px;
  }
}
