@import "var.scss";
@import "global.scss";

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .2s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.the-aside {
  font-size: 14px;
  width: 250px;
  height: 370px;
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 99;
  background-color: $color-white;
  @include box-shadow(1px 1px 10px rgb(0, 0, 0));
  border: 1px solid rgba(247, 247, 247, 0);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.title {
  padding-left: 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.menus {
  background-color: $color-white;
  width: 100%;
  height: calc(100% - 19px);
  cursor: pointer;
  z-index: 100;
  overflow: scroll;
  white-space: nowrap;
  li {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    &:hover{
      //background-color: $color-blue;
      background-color: #e8e8e8;
      color: $color-white;
    }
  }
}

.is-play{
  color: $color-blue-active;
  font-weight: bold;
}
