@import "var.scss";
@import "global.scss";

.the-footer {
  width: 100%;
  //height: $footer-height;
  height:200px;
 // background-color: $theme-footer-color;
  background-color: rgba(57, 57, 57, 0.56);
  // 页脚文字

  @include layout(center, center, column);
  p {
    height: 20px;
  }
}
